@model IEnumerable<Chomp.Models.Recipe>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Recipes</h2>

@Html.ActionLink("New recipe", "New", "Recipes", new { @class = "btn btn-primary" })
<table id="recipes" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Recipe</th>
        <th>Cuisine</th>
        <th>Difficulty</th>
    </tr>
    </thead>

    <tbody>
        @foreach (var recipe in Model)
            {
            <tr>
                <td>@Html.ActionLink(recipe.Name, "Edit", "Recipes", new { id = recipe.Id }, null)</td>
                <td>@recipe.Cuisine.Name</td>
                <td>@recipe.Difficulty.Name</td>
            </tr>
        }
    </tbody>

</table>

